/* 
Ashleigh Parker - MGD2041

True Creamery - Lactose Free Ice Cream Brand

Styling all pages as well as making them responsive for mobile.
*/

/*** - All Pages - ***/

/* Added this to make sure there wasn't any weird spacing on the page that I didn't add. */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Vergilia";
    src: url(fonts/Vergilia-mL6aa.ttf);
}

@font-face {
    font-family: "LouisGeorgeCafe";
    src: url(fonts/Louis\ George\ Cafe.ttf);
}

@font-face {
    font-family: "LouisGeorgeCafeBold";
    src: url(fonts/Louis\ George\ Cafe\ Bold.ttf)
}

/* I decided to set my font-size for the whole website so I could use rem units to make it more responsive. */
html {
    font-size: 16px;
}

/* This style is connected to my div for my header and nav so it can have a drop-shadow and stick to the top of the page. */
.top-banner {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    box-shadow: 0px 2.5px 10px 0px rgba(0,0,0,0.2);
}

header, nav {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 100px;
    width: 300px;
}

/* Selecting the links in the menu or nav */
nav > a {
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: #745e4b;
    text-decoration: none;
    margin: 0 30px;
}

/* Adding a line underneath the nav links when hovering over them. */
nav > a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #b4c978;
    text-underline-offset: 8px;
}

.icons {
    height: 25px;
    width: 25px;
}

footer {
    font-family: "LouisGeorgeCafe";
    color: #745e4b;
    background-color: #ede6d9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

/* Layout change in mobile view. */
@media only screen and (max-width: 800px) {

        /* The banner needed to be stacked so it would fit better. */
        .top-banner {
            display: block;
        }
        
        header {
            display: flex;
            justify-content: center;
            padding: 10px;
        }
        
        nav {
            display: flex;
            justify-content: space-evenly;
            padding: 10px;
        }
    
        nav > a {
            font-size: 1rem;
            margin: 0 10px;
        }
    
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px;
        }
    
        footer > p {
            margin: 5px 10px;
        }
}

/*** - Home(index) Page - ***/

/* This is selecting the p tag in both my call to action to add spacing between the button and h2 tag. */
.prompt-1 > p, .prompt-2 > p {
    font-family: "LouisGeorgeCafe";
    margin: 10px 0 30px 0;
}

.home-img {
    max-width: 70%;
    height: auto;
}

/* This style is attached to my first div, which is a call to action with an image. */
.prompt-cont-1 {
    /* I made this div position relative so that I could position my text and button on top of my image. */
    position: relative;
    display: flex;
    justify-content: flex-start;
}

/* This style is attached to my text and button for my first call to action. */
.prompt-1 {
    /* This div is absolute so that it could be positioned where I needed it to be on the image. */
    position: absolute;
    top: 15%;
    right: 8%;
    text-align: right;
}

/* This is selecting the h2 tag in my first call to action. */
.prompt-1 > h2 {
    font-family: "Vergilia";
    font-size: 2.125rem;
    color: #75445f;
}

.shop-now-btn {
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: white;
    background-color: #75445f;
    text-decoration: none;
    padding: 10px 20px;
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.2);
}

.shop-now-btn:hover {
    background-color: #e19ac1;
}

/* This style is attached to my second div, which is a call to action with an image. */
.prompt-cont-2 {
    /* I made this div position relative so that I could position my text and button on top of my image. */
    position: relative;
    display: flex;
    justify-content: flex-end;
}

/* This style is attached to my text and button for my second call to action. */
.prompt-2 {
    /* This div is absolute so that it could be positioned where I needed it to be on the image. */
    position: absolute;
    top: 15%;
    left: 8%;
    text-align: left;
}

/* This is selecting the h2 tag in my second call to action. */
.prompt-2 > h2 {
    font-family: "Vergilia";
    font-size: 2.125rem;
    color: #7c8a42;
}

.explore-btn {
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: white;
    background-color: #7c8a42;
    text-decoration: none;
    padding: 10px 20px;
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.2);
}

.explore-btn:hover {
    background-color: #b4c978;
}

/* Layout change in mobile view. */
@media only screen and (max-width: 800px) {

    .prompt-1, .prompt-2 {
        text-align: center;
        position: static;
        margin: 30px 0 40px 0;
    }

    .prompt-cont-1 {
        display: block;
        text-align: left;
        position: static;
    }

    .prompt-cont-2 {
        display: block;
        text-align: right;
        position: static;
    }

    .prompt-1 > h2, .prompt-2 > h2 {
        font-size: 1.5rem;
    }

    .prompt-1 > p, .prompt-2 > p {
        font-size: 1rem;
    }

    .shop-now-btn, .explore-btn {
        font-size: 1rem;
    }

}

/*** - Our Flavors Page - ***/

.all-flvr-header {
    text-align: center;
    margin: 40px 0;
}

/* Selecting the title in my header on the Our Flavors Page. */
.all-flvr-header > h2 {
    font-family: "Vergilia";
    font-size: 2rem;
    color: #75445f;
    margin-bottom: 20px;
}

/* Selecting the description in my header on the Our Flavors Page. */
.all-flvr-header > p {
    font-family: "LouisGeorgeCafe";
    font-size: 1.125rem;
    margin: 0 200px;
}

/* Making a grid 3 by 2. */
.all-flvr-cont {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 2fr 2fr 2fr;
    justify-items: center;
}

.ea-flvr-grid {
    text-align: center;
    position: relative;
}

/* Adding a button that will add the item to the bag. */
.add-btn {
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: white;
    background-color: #7c8a42;
    padding: 5px 10px;
    position: absolute;
    top: 5%;
    right: 15%;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.2);
}

/* This makes it so that when you hover over the button it changes to say 'Add to Bag'. */
.add-btn:hover::after {
    content: " ADD";
}

.ea-flvr-grid-text {
    margin: 20px 0 40px 0;
}

/* Selecting the flavor name for each flavor. */
.ea-flvr-grid-text > a {
    font-family: "Vergilia";
    font-size: 1.5rem;
    color: #7c8a42;
    text-decoration: none;
}

.ea-flvr-grid-text > a:hover {
    color: #b4c978;
}

/* Selecting the price for each flavor. */
.ea-flvr-grid-text > p {
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    margin-top: 15px;
}

.all-flvr-img {
    max-width: 80%;
    height: auto;
}

.img-off,  .img-grid:hover > .img-on {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.img-on, .img-grid:hover > .img-off {
    visibility: visible;
    opacity: 1;
    position: static;
    transition: opacity 0.5s ease-in-out;
}

/* Layout change in mobile view. */
@media only screen and (max-width: 800px) {

    .all-flvr-header {
        margin: 20px 0;
    }
    
    .all-flvr-header > h2 {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    .all-flvr-header > p {
        font-size: 1rem;
        margin: 0 40px;
    }

    /* Changing the grid to fit 2 by 3. */
    .all-flvr-cont {
        display: grid;
        grid-template-rows: 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr;
        margin-bottom: 20px;
    }

    .ea-flvr-grid-text {
        margin: 0 10px;
    }

    .add-btn {
        padding: 5px 10px;
        font-size: 1rem;
    }

    .ea-flvr-grid-text > a {
        font-size: 1rem;
    }

    .ea-flvr-grid-text > p {
        font-size: 1rem;
    }

}

/*** - Each Flavor - ***/

.flvr-cont {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-items: center;
}

.flvr-img-cont {
    margin: 20px 20px;
    position: relative;
    max-width: 600px;
}

.flvr-img {
    max-width: 80%;
    height: auto;
}

.flvr-img-slides {
    display: none;
}

.flvr-img-slides img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.cursor {
    cursor: pointer;
}

.slides-prev-btn {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 0;
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.5);
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.5rem;
    user-select: none;
    -webkit-user-select: none;
}

.slides-next-btn {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 0;
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.5);
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.5rem;
    user-select: none;
    -webkit-user-select: none;
}

.slides-next-btn:hover, .slides-prev-btn:hover {
    color: white;
    background-color: #7c8a42;
}

.slides-num-text {
    color:rgba(0, 0, 0, 0.5);
    font-family: "LouisGeorgeCafeBold";
    padding: 10px 15px;
    position: absolute;
    top: 0;
}

.flvr-img-caption-cont {
    text-align: left;
    padding: 2px 15px;
    color: #75445f;
}

.thumbnail-row {
    display: flex;
    justify-content: center;
}

.thumbnail-row:after {
    content: "";
    display: table;
    clear: both;
}

.thumbnail-column {
    width: 15%;
    margin: 0 10px;
}

.thumbnail-column img {
    max-width: 100%;
}

.demo {
    opacity: 0.6;
}

.active, .demo:hover {
    opacity: 1;
}

.flvr-text-cont {
    max-width: 500px;
    margin: 20px 20px;
}

.flvr-text-cont > h2 {
    font-family: "Vergilia";
    font-size: 2rem;
    color: #75445f;
    margin-top: 40px;
}

.flvr-text-cont > p {
    font-family: "LouisGeorgeCafe";
    font-size: 1.125rem;
    margin: 30px 0;
}

.flvr-text-cont > .flvr-price {
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.875rem;
    margin-bottom: 30px;
}

.add-to-bag-btn {
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: white;
    background-color: #7c8a42;
    text-decoration: none;
    display: flex;
    max-width: 100%;
    justify-content: center;
    padding: 10px 20px;
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.2);
}

.add-to-bag-btn:hover {
    background-color: #b4c978;
}

.flvr-text-cont > h3 {
    font-family: "Vergilia";
    font-size: 1.125rem;
    color: #75445f;
    margin-top: 50px;
}

.flvr-text-cont > .flvr-ingredients {
    font-family: "LouisGeorgeCafe";
    font-size: 1rem;
    margin: 10px 0;
}

/* Layout change in mobile view. */
@media only screen and (max-width: 800px) {

    .flvr-cont {
        display: block;
        text-align: center;
    }

    .flvr-img-cont {
        margin: 20px 0;
        max-width: 350px;
        justify-items: center;
    }

    .flvr-text-cont {
        display: inline-block;
        text-align: center;
        max-width: 420px;
        margin: 0 30px 20px 30px;
    }

    .flvr-text-cont > h2 {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .flvr-text-cont > p {
        text-align: left;
        font-size: 1rem;
    }

    .flvr-text-cont > .flvr-price {
        font-size: 1.5rem;
    }
}