/* 
Ashleigh Parker - MGD2041

True Creamery - Lactose Free Ice Cream Brand

Styling all pages as well as making them responsive for mobile.
*/

/********** - All Pages - **********/

/* Resetting the Spacing on all Elements.  */
* {
    margin: 0;
    padding: 0;
}

/* Adding Fonts */
@font-face {
    font-family: "Vergilia";
    src: url(fonts/Vergilia-mL6aa.ttf);
}

@font-face {
    font-family: "LouisGeorgeCafe";
    src: url(fonts/Louis\ George\ Cafe.ttf);
}

@font-face {
    font-family: "LouisGeorgeCafeBold";
    src: url(fonts/Louis\ George\ Cafe\ Bold.ttf)
}

/* Setting Font-Size for Website so rem units could be used. Making it more responsive. */
html {
    font-size: 16px;
}

/* Styling for div of Header and Nav. To have a Drop-Shadow and stay at the Top when Scrolling. */
.top-banner {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    box-shadow: 0px 2.5px 10px 0px rgba(0,0,0,0.2);
}

/* Making Header and Nav centered vertically. */
header, .menu {
    display: flex;
    align-items: center;
    margin: 20px;
}

.logo {
    width: 300px;
    height: 100px;
}

/* Selecting the Links in the Nav */
.menu > a {
    margin: 0 25px;
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: #745e4b;
    text-decoration: none;
}

/* Adding a Line underneath the Nav Links when Hovering. */
.menu > a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #b4c978;
    text-underline-offset: 6px;
}

/* This Div only shows in Mobile Layout */
.mobile-menu {
    display: none;
}

/* This Div only shows in Mobile Layout */
.mobile-links {
    display: none;
}

.mobile-menu-icon {
    width: 25px;
    height: 25px;
    margin: 0 25px;
    cursor: pointer;
    border: none;
    appearance: none;
    background-color: inherit;
}

.search-cont {
    display: flex;
    align-items: center;
}

.search-icon {
    width: 25px;
    height: 25px;
    margin: 0 25px;
    cursor: pointer;
    border: none;
    appearance: none;
    background-color: inherit;
}

.search-text-box {
    display: none;
    max-width: 175px;
    padding: 8px 10px;    
    font-family: "LouisGeorgeCafe";
    font-size: 1.125rem;
    color: black;
    background-color: rgba(0,0,0,0.07);
    border: none;
}

/* When search bar is selected to type take away the outline. */
.search-text-box:focus {
    outline: none;
}

/* Making the opacity for placeholder text lower. */
.search-text-box::placeholder {
    color: rgba(0,0,0,0.4)
}

.shop-cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
}

.shop-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;    
    appearance: none;
    background-color: inherit;
}

.shop-item-count, .shop-item-count-mobile {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    border-radius: 50%;
    font-family: "LouisGeorgeCafe";
    font-size: 1rem;
    color: white;
    background-color: #7c8a42;
}

.bag {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    overflow: scroll;
    width: 360px;
    height: 100vh;
    padding: 0 20px;
    background: white;
    box-shadow: 0px 2.5px 10px 0px rgba(0,0,0,0.2);
}

.bag-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bag-header > h2 {
    margin: 20px 0;    
    font-family: "Vergilia";
    font-size: 1.5rem;
    color: #75445f;
}

.close-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;    
    border: none;
    appearance: none;
    background-color: inherit;
}

.bag-box {
    display: flex;
    margin: 20px 0;
    width: 100%;
    height: auto;
}

.bag-img {
    max-width: 30%;
    height: auto;
}

.bag-detail {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.bag-detail > h3 {
    width: 100%;
    height: auto;
    font-family: "Vergilia";
    font-size: 1.125rem;
    color: #7c8a42;
}

.bag-price {
    margin-top: 10px;
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
}

.bag-amount {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.bag-quantity {
    display: flex;
    margin: 5px 0;
}

.decrement, .increment {
    width: 22px;
    height: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    font-family: "LouisGeorgeCafeBold";
    background-color: #75445f;
    color: white;
    border: none;
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.2);
}

.decrement:hover, .increment:hover {
    background-color: #e19ac1;
}

.number {
    margin: 0 20px;
    font-family: "LouisGeorgeCafe";
}

.bag-remove {
    margin-left: 50px;
    font-family: "LouisGeorgeCafe";
    font-size: 1rem;
    text-align: right;
    background-color: inherit;
    border: none;
}

.bag-remove:hover {
    text-decoration: underline #7c8a42 1.5px;
    text-underline-offset: 3px;
}

hr {
    margin-top: 20px;
    border: #7c8a42 solid 1.5px;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.subtotal-title {
    font-family: "Vergilia";
    font-size: 1.125rem;
    color: #75445f;
}

.subtotal-price {
    font-family: "LouisGeorgeCafeBold";
}

.check-out {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: "LouisGeorgeCafeBold";
    font-size: 1rem;
    background-color: #7c8a42;
    color: white;
    text-decoration: none;
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.2);
}

.check-out:hover {
    background-color: #b4c978;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-family: "LouisGeorgeCafe";
    color: #745e4b;
    background-color: #ede6d9;
}

.credit {
    font-size: .875rem;
}

/* Mobile View Layout */
@media only screen and (max-width: 800px) {

        .top-banner {
            display: flex;
            padding: 0 20px;
        }
        
        /* Items in Header needed to be Centered Horizontally. */
        .mobile-menu {
            display: inline-flex;
            align-self: center;
        }

        .mobile-menu-icon {
            margin: 0;
        }

        .header {
            margin: 0;
        }
        
        .logo {
            width: 230px;
            height: auto;
        }

        .shop {
            margin-right: 20px;
        }

        .menu {
            display: none;
        }

        .mobile-links > ul > li {
            padding: 20px 0;
            border: #7c8a42 0.5px solid;
            list-style: none;
        }
        
        .mobile-links > ul > li > a {
            padding: 0 30px;            
            font-family: "LouisGeorgeCafeBold";
            font-size: 1.125rem;
            color: #745e4b;
            text-decoration: none;
        }
        
        .mobile-links > ul > li > a:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-decoration-color: #b4c978;
            text-underline-offset: 8px;
        }

        .search-text-box {
            display: inline;
            max-width: 100%;
        }

        .shop-cont {
            margin: 0;
        }

        .bag {
            width: 330px;
        }

        .bag-detail > h3 {
            font-size: 1rem;
        }

        .bag-price {
            font-size: 1rem;
        }

        .bag-amount {
            margin-top: 10px;
        }

        .bag-remove {
            color: #75445f;
        }
    
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px;
        }
    
        footer > p {
            margin: 5px 10px;
        }
}

/********** - Home(index) Page - **********/

/* Transition for First Prompt to Fade In on page load. */
@keyframes prompt1-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.prompt-1 > p, .prompt-2 > p {
    margin: 10px 0 30px 0;    
    font-family: "LouisGeorgeCafe";
}

b {
    font-family: "LouisGeorgeCafeBold";
    color: #e19ac1;
}

.home-img {
    max-width: 70%;
    height: auto;
}

.prompt-cont-1 {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.prompt-1 {
    position: absolute;
    top: 15%;
    right: 8%;
    text-align: right;
    animation: prompt1-fade-in ease-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.prompt-1 > h2 {
    font-family: "Vergilia";
    font-size: 2.125rem;
    color: #75445f;
}

.shop-now-btn {
    padding: 10px 20px;    
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: white;
    background-color: #75445f;
    text-decoration: none;
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.2);
}

.shop-now-btn:hover {
    background-color: #e19ac1;
}

.prompt-cont-2 {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.prompt-2 {
    position: absolute;
    top: 15%;
    left: 8%;
    text-align: left;
    opacity: 0;
}

/* Transition for Second Prompt to Fade In when in View. */
.prompt-fade-in {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.prompt-2 > h2 {
    font-family: "Vergilia";
    font-size: 2.125rem;
    color: #7c8a42;
}

.explore-btn {
    padding: 10px 20px;    
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: white;
    background-color: #7c8a42;
    text-decoration: none;
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.2);
}

.explore-btn:hover {
    background-color: #b4c978;
}

/* Mobile View Layout */
@media only screen and (max-width: 800px) {

    .prompt-1, .prompt-2 {
        position: static;
        margin: 30px 30px 40px 30px;
        animation: prompt1-fade-in ease-in;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        text-align: center;
    }

    .prompt-cont-1 {
        position: static;        
        display: block;
        text-align: left;        
    }

    .prompt-cont-2 {
        position: static;        
        display: block;
        text-align: right;        
    }

    .prompt-1 > h2, .prompt-2 > h2 {
        font-size: 1.5rem;
    }

    .prompt-1 > p, .prompt-2 > p {
        font-size: 1rem;
    }

    .shop-now-btn, .explore-btn {
        font-size: 1rem;
    }

}

/********** - Our Flavors Page - **********/

.all-flvr-header {
    margin: 40px 0;    
    text-align: center;
}

.all-flvr-header > h2 {
    margin-bottom: 20px;    
    font-family: "Vergilia";
    font-size: 2rem;
    color: #75445f;
}

.all-flvr-header > p {
    justify-self: center;
    max-width: 750px;
    line-height: 28px;    
    font-family: "LouisGeorgeCafe";
    font-size: 1.125rem;
}

/* Making a Grid 3 by 2. */
.all-flvr-cont {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 2fr 2fr 2fr;
}

.ea-flvr-grid {
    position: relative;    
    text-align: center;
}

.add-btn {
    position: absolute;
    top: 5%;
    right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;    
    cursor: pointer;
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: white;
    background-color: #75445f;
    border: none;
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.2);
}

.add-btn:hover {
    width: 50px;
}

.add-btn:hover span {
    display: none;
}

/* When hovering the Button it changes to say 'ADD' instead of just a '+' */
.add-btn:hover::before {
    content: "ADD";
    padding-top: 2px;
}

.ea-flvr-grid-text {
    margin: 20px 0 40px 0;
}

.ea-flvr-grid-text > a {
    font-family: "Vergilia";
    font-size: 1.5rem;
    color: #7c8a42;
    text-decoration: none;
}

.ea-flvr-grid-text > a:hover {
    color: #b4c978;
}

.ea-flvr-grid-text > p {
    margin-top: 15px;    
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
}

.all-flvr-img {
    max-width: 80%;
    height: auto;
}

.img-on {
    position: relative;
}

/* This Image is above but not visible.(Zero Opacity) */
.img-off {
    position: absolute;
    left: 0;
    right: 0;
    justify-self: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Then when Hovered over the Image is visible.(100 Opacity) */
.img-off:hover {
    opacity: 1;
}

/* Mobile View Layout */
@media only screen and (max-width: 800px) {

    .all-flvr-header {
        margin: 20px 0;
    }
    
    .all-flvr-header > h2 {
        margin: 10px 0;        
        font-size: 1.5rem;
    }

    .all-flvr-header > p {
        margin: 0 40px;
        max-width: 425px;    
        font-size: 1rem;
    }

    /* Changing Grid to 2 by 3. */
    .all-flvr-cont {
        display: grid;
        grid-template-rows: 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr;
        margin-bottom: 20px;
    }

    .ea-flvr-grid-text {
        margin: 0 10px;
    }

    .add-btn {
        padding: 5px 10px;
        font-size: 1rem;
    }

    .ea-flvr-grid-text > a {
        font-size: 1rem;
    }

    .ea-flvr-grid-text > p {
        font-size: 1rem;
    }

}

/********** - Each Flavor Pages - **********/

/* Making Grid so Photo Gallery has more room than Info. */
.flvr-cont {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-items: center;
}

.flvr-img-cont {
    position: relative;
    margin: 20px;    
    max-width: 600px;
}

.flvr-img {
    max-width: 80%;
    height: auto;
}

/* Used in JavaScript to select which Image in Photo Gallery is being Displayed. */
.flvr-img-slides {
    display: none;
}

/* When Displayed the Image will Fill the Space. */
.flvr-img-slides img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.cursor {
    cursor: pointer;
}

.slides-prev-btn {
    position: absolute;
    top: 40%;
    left: 0;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;    
    color: rgba(0, 0, 0, 0.5);
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.5rem;
}

.slides-next-btn {
    position: absolute;
    top: 40%;
    right: 0;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;      
    color: rgba(0, 0, 0, 0.5);
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.5rem;
}

.slides-next-btn:hover, .slides-prev-btn:hover {
    color: white;
    background-color: #7c8a42;
}

.slides-num-text {
    position: absolute;
    top: 0;
    padding: 10px 15px;
    color:rgba(0, 0, 0, 0.5);
    font-family: "LouisGeorgeCafeBold";
}

.flvr-img-caption-cont {
    padding: 2px 15px;
    text-align: left;
    color: #75445f;
}

.thumbnail-row {
    display: flex;
    justify-content: center;
}

.thumbnail-row:after {
    content: "";
    display: table;
    clear: both;
}

.thumbnail-column {
    width: 15%;
    margin: 0 10px;
}

.thumbnail-column img {
    max-width: 100%;
}

/* Makes Thumbnail Images under Photo Gallery at a lower Opacity. */
.demo {
    opacity: 0.6;
}

/* When the Image is hovered over or the one Active in Photo Gallery it's at Full Opacity. */
.active, .demo:hover {
    opacity: 1;
}

.flvr-img-caption {
    margin: 10px 0;
    font-family: "LouisGeorgeCafe";
    font-size: 0.875rem;
    color: #745e4b;
    text-align: right;
}

.flvr-text-cont {
    margin-right: 50px;
}

.flvr-text-cont > h2 {
    margin-top: 40px;
    font-family: "Vergilia";
    font-size: 2rem;
    color: #75445f;
}

.flvr-text-cont > p {
    line-height: 28px;
    margin: 20px 0 30px 0;
    font-family: "LouisGeorgeCafe";
    font-size: 1.125rem;
}

.flvr-text-cont > .flvr-price {
    margin-bottom: 30px;
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.875rem;
}

.add-to-bag-btn {
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: white;
    background-color: #7c8a42;
    text-decoration: none;
    border: none;
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.2);
}

.add-to-bag-btn:hover {
    background-color: #b4c978;
}

.flvr-text-cont > h3 {
    margin-top: 50px;
    font-family: "Vergilia";
    font-size: 1.125rem;
    color: #75445f;
}

.flvr-text-cont > .flvr-ingredients {
    margin: 10px 0;
    font-family: "LouisGeorgeCafe";
    font-size: 1rem;
}

.flvr-delivery {
    align-items: center;
}

.delivery-sticker {
    width: 20%;
    height: auto;
    float: left;
    margin-right: 25px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.flvr-delivery > h3 {
    margin-top: 70px;
    font-family: "Vergilia";
    font-size: 1.5rem;
    color: #75445f;
}

.flvr-delivery > ul {
    font-family: "LouisGeorgeCafe";
    font-size: 1.125rem;
    list-style-type: none;
}

.flvr-delivery > ul > li {
    margin: 12.5px 0;
}

/* Mobile View Layout */
@media only screen and (max-width: 800px) {

    .flvr-cont {
        display: block;
        text-align: center;
    }

    .flvr-img-cont {
        max-width: 420px;
        margin: 20px;
    }

    .flvr-text-cont {
        display: inline-block;
        max-width: 420px;
        margin: 0 30px 20px 30px;
        
    }

    .flvr-text-cont > h2 {
        margin-top: 0;
        font-size: 1.5rem;
    }

    .flvr-text-cont > p {
        font-size: 1rem;
        text-align: left;
    }

    .flvr-text-cont > .flvr-price {
        font-size: 1.5rem;
    }

    .flvr-text-cont > h3 {
        text-align: left;
    }

    .delivery-sticker {
        margin-bottom: 25px;
    }

    .flvr-delivery {
        text-align: left;
    }

    .flvr-delivery > h3 {
        margin-top: 50px;
    }
}

/********** - Our Story Page - **********/

/* Timeline Transition for creating a line when in view which is connected in JavaScript. */
@keyframes scroll-line {
    from {
        transform: scaleY(0);
        transform-origin: top center;
        opacity: 1
    }

    to {
        transform: scaleY(1);
        transform-origin: top center;
        opacity: 1
    }
}

.story-info-cont {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.story-info {
    margin: 40px 50px;
}

.story-info > h2 {
    font-family: "Vergilia";
    font-size: 2rem;
    color: #75445f;
}

.story-info > p {
    margin: 20px 0;
    line-height: 28px;
    font-family: "LouisGeorgeCafe";
    font-size: 1.125rem;
}

.story-img-cont {
    margin: 40px 50px;
}

.store-img {
    width: 100%;
    height: auto;
}

.story-img-cont > p {
    margin-top: 10px;    
    font-family: "LouisGeorgeCafe";
    font-size: .875rem;
    color: #745e4b;
    text-align: right;
}

.timeline-header {
    margin: 20px 0;
    font-family: "Vergilia";
    font-size: 2rem;
    color: #75445f;
    text-align: center;
}

.story-timeline-cont {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
}

.timeline-cont {
    display: flex;
    justify-content: center;
}

.timeline-graph {
    justify-items: center;
}

.date {
    font-family: "LouisGeorgeCafeBold";
    font-size: 2rem;
    color: #75445f;
    opacity: 0;
}

.date-dot {
    width: 40px;
    height: 40px;
    margin-top: -2px;
    background-color: #7c8a42;
    border-radius: 50%;
    opacity: 0;
}

.date-line {
    width: 12px;
    min-height: 225px;
    margin-top: -2px;
    background-color: #7c8a42;
    transform: scaleY(0);
    opacity: 0;
}

.timeline-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 65%;
    margin-top: 35px;
    margin-left: 100px;
    opacity: 0;
}

.timeline-info > h3 {
    font-family: "Vergilia";
    font-size: 1.725rem;
    color: #7c8a42;
}

.timeline-info > p {
    padding: 20px;
    margin-top: 20px;
    line-height: 28px;
    font-family: "LouisGeorgeCafe";
    font-size: 1.125rem;
    color: white;
    background-color: #75445f;
}

.timeline-fade-in {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.timeline-draw-line {
    transform: scaleY(1);
    transform-origin: top center;
    opacity: 1;
    transition: transform .5s;
}

/* Mobile View Layout */
@media only screen and (max-width: 800px) {

    .story-info-cont {
        display: block;
    }

    .story-info {
        margin: 20px;
        text-align: center;
    }

    .story-info > h2 {
        font-size: 1.5rem;
    }

    .story-info > p {
        font-size: 1rem;
    }

    .story-img-cont {
        margin: 20px;
    }

    .timeline-header {
        font-size: 1.5rem;
    }

    .story-timeline-cont {
        margin: 20px;
    }

    .timeline-graph {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .date {
        font-size: 1.5rem;
    }

    .timeline-info {
        max-width: 100%;
        margin-left: 20px;
    }

    .timeline-info > h3 {
        font-size: 1.125rem;
    }

    .timeline-info > p {
        padding: 12px;
        font-size: 1rem;
    }

}

/********** - Contact Page - **********/

.contact-cont {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.contact-info-cont > h2, .message-info-cont > h2 {
    margin: 40px 0 20px 0;
    font-family: "Vergilia";
    font-size: 2rem;
    color: #75445f;
}

.contact-info-cont {
    margin: 0 50px;
}

.contact-stickers {
    width: 50px;
    height: auto;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
}

.address-text {
    display: flex;
    align-items: center;
}

.hours-text {
    display: flex;
    align-items: center;
}

.contact-info > h3, .address-text > h3, .hours-text > h3 {
    margin-left: 10px;
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.5rem;
    color: #7c8a42;
}

.contact-info > p, .address-text > p, .hours-text > p {
    margin-left: 10px;
    font-family: "LouisGeorgeCafe";
    font-size: 1.125rem;
}

.contact-info > p:hover, .address-text > p:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: #b4c978;
    text-underline-offset: 6px;
}

.googleMap {
    width: 100%;
    height: 300px;
    margin: 20px 0 40px 0;
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.message-info-cont {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.form-cont > form > label {
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: #7c8a42;
}

.form-cont > form > input {
    display: block;
    height: 25px;
    width: 75%;
    padding: 0 10px;
    margin: 10px 0;
    font-family: "LouisGeorgeCafe";
    font-size: 1rem;
    color: black;
    background-color: rgba(0,0,0,0.07);
    border: none;
}

.form-cont > form > textarea {
    display: block;
    height: 250px;
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    font-family: "LouisGeorgeCafe";
    font-size: 1rem;
    color: black;
    background-color: rgba(0,0,0,0.07);
    border: none;
}

.form-cont > form > input:focus, .form-cont > form > textarea:focus {
    outline: none;
}

#submit, #reset {
    height: 40px;
    width: 78%;
    margin-top: 15px;
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: white;
    background-color: #7c8a42;
    border: none;
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.2);
}

#submit:hover, #reset:hover {
    background-color: #b4c978;
}

/* Mobile View Layout */
@media only screen and (max-width: 800px) {

    .contact-cont {
        display: block;
    }

    .contact-info-cont {
        margin: 0 20px;
    }

    .contact-stickers {
        width: 38px;
        height: auto;
    }

    .address-text {
        display: inline-block;
    }

    #hours-cont {
        align-items: start;
    }

    .hours-text {
        display: block;
    }

    .contact-info-cont > h2 {
        font-size: 1.5rem;
    }

    .contact-info > h3, .address-text > h3, .hours-text > h3 {
        font-size: 1.125rem;
    }

    .contact-info > p, .address-text > p, .hours-text > p {
        font-size: 1rem;
    }

    .message-info-cont {
        margin-left: 20px;
        margin-bottom: 40px;
    }

    .message-info-cont > h2 {
        margin-top: 0;
        font-size: 1.5rem;
    }

    .form-cont > form > input {
        width: 90%;
    }

    .form-cont > form > textarea {
        width: 90%;
    }

    #submit, #reset {
        width: 95%;
    }
}

/********** - Bag Page - **********/

.checkout-cont {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 40px 50px;
}

.checkout-display > h2 {
    margin-bottom: 30px;
    font-family: "Vergilia";
    font-size: 2rem;
    color: #75445f;
}

.checkout-items {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    margin: 10px 0;
}

.checkout-img {
    width: 150px;
    height: auto;
}

.checkout-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
}

.checkout-text > h3 {
    font-family: "Vergilia";
    font-size: 1.225rem;
    color: #7c8a42;
}

.checkout-text > p {
    margin-top: 40px;
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.225rem;
}

.checkout-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkout-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkout-decrement, .checkout-increment {
    width: 30px;
    height: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    font-family: "LouisGeorgeCafeBold";
    font-size: 1rem;
    background-color: #75445f;
    color: white;
    border: none;
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.2);
}

.checkout-decrement:hover, .checkout-increment:hover {
    background-color: #e19ac1;
}

.checkout-number {
    margin: 0 20px;
    font-family: "LouisGeorgeCafe";
    font-size: 1rem;
}

.total-cont {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    height: auto;
    margin: 0 50px;
}

.total {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.total > h3 {
    font-family: "Vergilia";
    font-size: 1.5rem;
    color: #7c8a42;
}

.total-price {
    font-family: "LouisGeorgeCafe";
    font-size: 1.5rem;
}

.checkout-form-display {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.checkout-form-display > h2 {
    font-family: "Vergilia";
    font-size: 2rem;
    color: #75445f;
}

.checkout-form-cont {
    display: flex;
    flex-direction: column;
}

.form-sections {
    margin: 30px 0;
}

.form-sections > p {
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: #7c8a42;
}

.input-spacing {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.input-spacing > input {
    width: 100%;
    height: 25px;
    padding: 0 10px;
    font-family: "LouisGeorgeCafe";
    font-size: 1rem;
    color: black;
    background-color: rgba(0,0,0,0.07);
    border: none;
}

.form-sections > input {
    width: 96%;
    height: 25px;
    padding: 0 10px;
    margin: 10px 0;
    font-family: "LouisGeorgeCafe";
    font-size: 1rem;
    color: black;
    background-color: rgba(0,0,0,0.07);
    border: none;
}

#phone-checkout, #last-name, #states, #zipcode {
    margin-left: 10px;
}

#states {
    width: 50%;
}

.input-spacing > input:focus, .form-sections > input:focus {
    outline: none;
}

.checkbox-info {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.checkbox-info > input {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.checkbox-info > label {
    font-family: "LouisGeorgeCafeBold";
    color: #7c8a42;
}

#checkout, #checkout-reset {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-family: "LouisGeorgeCafeBold";
    font-size: 1.125rem;
    color: white;
    background-color: #7c8a42;
    border: none;
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.2);
}

/* Mobile View Layout */
@media only screen and (max-width: 800px) {

    .checkout-cont {
        display: block;
        margin: 20px 20px;
    }

    .checkout-display > h2 {
        font-size: 1.5rem;
    }

    .checkout-img {
        width: 125px;
        height: auto;
    }

    .checkout-detail {
        display: block;
        margin-left: 20px;
    }

    .checkout-text > h3 {
        font-size: 1rem;
    }

    .checkout-text > p {
        margin-top: 10px;
        font-size: 1rem;
    }

    .checkout-amount {
        margin-top: 15px;
    }

    .checkout-decrement, .checkout-increment {
        width: 25px;
        height: 20px;
        font-size: 1rem;
    }

    .total-cont {
        margin: 0;
    }

    .total > h3, .total-price {
        font-size: 1.225rem;
    }

    .checkout-form-display > h2 {
        font-size: 1.5rem;
    }

    .checkout-form-display {
        margin: 0;
    }
}